<%- include('header'); -%>

<div class="main">
  <div class="about">
    <h1>About</h1>
    <p>This is a web application based on machine learning model to predict or estimate cars prices.</p>
    <p>The model is trained on Ouedkniss real world data, scraped using BeautifulSoup.</p>
    <p>The prediction api is served using the Flask framework contained in a Docker container.</p>
    <p>The front end is served using a NodeJS server based on ExpressJS.</p>
  </div>
</div>

<%- include('footer'); -%>